@font-face {
    font-family: 'Gilroy';
    src: url('../font/Gilroy-Light.otf') format('opentype');
  }

  @font-face {
    font-family: 'Gilroy-Bold';
    src: url('../font/Gilroy-ExtraBold.otf') format('opentype');
  }

*{
  
  margin: 0;
}

body{
  font-family: Gilroy, serif;
}

a {
  text-decoration: none;
}

nav {
  font-size: 20px;
  height: 60px;
  padding: 0 50px;
}

.nav-head {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-head .left {
  width: 20%;
  margin-left: 0px;
}

.nav-head .right {
  width: 80%;
  justify-content: flex-end;
}

.nav-single-link {
  margin: 0 10px;
}

.nav-single-link a {
  text-decoration: none;
  color: #202222;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.nav-links p{
  margin-bottom: 0;
  font-size: 18px;
}

.logo a p {
  font-size: 28px;
  font-weight: 800;
  color: #202222;
}

.nav-link-start {
  background-color: #136F63;
  padding: 10px 20px;
  border-radius: 6px;
  
}

.nav-link-start a p {
  color: #fff !important;
}

.hero-head {
  font-family: Gilroy-Bold, serif !important;
  margin-bottom: 15px;
  font-size: 56px;
}

main {
  padding: 0 50px;
  text-align: center;
}

.hero-text {
  text-align: center;
  margin-bottom: 40px;
  font-size: 20px;
}

.hero-text p{
  width: 70%;
  margin: auto;
}

.hero-btn {
  background-color: #136F63;
  padding: 15px 28px;
  border-radius: 6px;
  width: 180px;
  margin: auto;
  color: #fff;
  font-size: 18px;
}

.hero-btn p{
  margin-bottom: 0;
}

.hero {
  padding: 100px 0;
}

.section{
  width: 100%;
  background: linear-gradient(172.32deg, #EADC7D 48.25%, #FFFFFF 48.26%, #629F97 91.08%);
  border-radius: 8px;
  padding: 40px 0;
  margin-bottom: 200px;
}

.section h2 {
  font-family: Gilroy-Bold, serif !important;
  font-size: 40px;
  width: 300px;
  margin: auto;
  margin-bottom: 30px;
}

.all-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.single-section {
  background-color: #fff;
  margin: 16px;
  box-shadow: 1px -2px 1px rgba(19, 111, 99, 0.12);
  border-radius: 5px;
  padding: 15px 15px;
}

.section-head{
  font-size: 24px;
  font-weight: 800;
  margin-top: 10px;
}

.section-text {
  width: 180px;
  margin: auto;
  font-size: 15px;
}

.section-btn {
  background-color: #136F63;
  padding: 12px 28px;
  border-radius: 4px;
  margin: auto;
  color: #fff;
  font-size: 15px;
  margin-top: 10px;
}

.section-dispatch {
  background: #EADC7D;
  color: #000;
}

.section-icon img{
  width: 40px;
}

@media screen and (max-width: 540px) {
  .nav-link-start {
      display:none;
  }

  nav {
    padding: 0 30px;
  }

  main {
    padding: 0 30px;
  }

  .hero-text p {
    width: 100%;
  }
}

@media screen and (min-width: 900px) {
  .section {
    width: 800px;
    margin: auto;
    margin-bottom: 200px;
  }
}

